section#hero-section {
	position: relative;
	top: 60px;
}
.banner {
	max-height: 500px;
	overflow: hidden;
}
.banner img {
	width: 100%;
	object-fit: cover;
	object-position: center center;
	max-height: 500px;
	overflow: hidden;
}
