@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
:root {
	--maxWidth: 290px;
	--fontSize: 16px;
	--lineHeight: 1.25;
	--numLines: 9;
	--lineClamp: 3;
}
/* Code pages */
a.btnLink {
	position: relative;
	top: 0.8rem;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #535252;
	border-radius: 6px;
	color: #535252;
	transition: 0.25s ease-in-out;
}
a:hover.btnLink {
	color: #639;
	background-color: #f4f4f4;
	border-color: #639;
	text-decoration: none;
}
.truncate {
	display: -webkit-box;
	max-width: var(--maxWidth);
	max-height: calc(var(--fontSize) * var(--lineHeight) * var(--numLines));
	margin: 0 auto;
	font-size: var(--fontSize);
	line-height: var(--lineHeight);
	-webkit-line-clamp: var(--lineClamp);
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0;
}
.truncate span {
	padding-bottom: 10px;
}
.dark .truncate span {
	color: #f4f4f4;
}
.github-link {
	display: flex;
	align-items: center;
	padding-top: 20px;
	width: 50vw;
	margin: 0 auto;
	color: initial;
	transition: color 0.25s ease-in;
}
.dark .github-link span {
	color: #f4f4f4;
}
.github-logo {
	background-image: url(/images/code/github-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	margin: 0 10px;
	transition: background-image 0.25s ease-in;
}
.dark .github-logo {
	background-image: url(/images/code/github-logo-dark.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 26px;
	height: 26px;
	margin: 0 10px;
}
.snippets-intro {
	padding: 0;
}
.card-badges > img {
	height: 16px;
	margin-right: 6px;
}
code.inline {
	font-size: 16px;
	background-color: #212121;
	padding: 1px 4px;
	color: #f4f4f4;
}
.code-container {
	position: relative;
	background-color: #f6f6f6;
	padding: 10px 20px;
	top: 60px;
	min-height: 95vh;
	z-index: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	transition: background-color 0.25s ease-in;
	overflow-x: hidden;
}
.dark .code-container {
	background-color: #333333;
}
.code-content {
	width: 50vw;
	margin: 0 auto;
}
.code-content p {
	color: #000000;
}
.dark .code-content p {
	color: #f4f4f4;
}
.code-top h1 {
	top: 10px;
	position: relative;
	font-size: 1.8rem;
	padding: 20px 0;
}
a.backBtn {
	position: relative;
	top: 0.8rem;
	font-size: 16px;
	font-weight: 600;
	padding: 10px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #535252;
	border-radius: 6px;
	color: #535252;
	transition: 0.2s ease-in-out;
}
a:hover.backBtn {
	color: rebeccapurple;
	background-color: #f4f4f4;
	border-color: rebeccapurple;
	text-decoration: none;
}
.stage {
	width: 50vw;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #464646;
}
section.code {
	width: 50vw;
	margin: 0 auto;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
}
section.code pre {
	border-radius: 0px !important;
}
.code-header {
	position: relative;
	text-align: right;
	background-color: #fff;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	top: 8px;
	margin-top: 10px;
	font-family: monospace;
	padding: 2px 6px;
	font-style: italic;
	transition: background-color 0.25s ease-in;
}
.dark .code-header {
	background-color: #464646;
	color: #f4f4f4;
}
.cards {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: unset;
}
.cards a {
	text-decoration: none;
	color: #000000;
	border: 1px solid rebeccapurple;
	margin: 4px;
	margin-bottom: 20px;
	transition: all 0.25s ease-in;
}
.dark .cards a {
	border: 1px solid #ffba32;
}
.cards a:hover {
	transform: scale(1.02);
	box-shadow: 1px 1px 4px 4px rgba(0, 0, 0, 0.185);
}
.dark .cards a:hover {
	box-shadow: 0px 0px 6px 1px #ffba32;
}
.card {
	position: relative;
	width: 290px;
	margin: 10px;
	min-height: 400px;
	transition: border 0.25s ease-in;
}
.dark .card {
	background-color: #4a4a4a;
}
a .card-title {
	text-decoration: none;
	color: #000000;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 10px;
	transition: color 0.25s ease-in;
}
.dark a .card-title {
	color: #fafafa;
}
a .card-intro {
	padding: 20px 10px;
	text-align: left;
}
a .card-image img {
	position: absolute;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	bottom: 0px;
	right: -5px;
}
.stage h1 {
	color: #000000;
	transition: color 0.25s ease-in;
}
.dark .stage h1 {
	color: #f4f4f4;
}
.dark .stage {
	background-color: #464646;
	border: 1px solid #000000;
}
.btnSpacer {
	margin-bottom: 30px;
}
.btn-widget-description > button {
	display: block;
	border: 1px solid #464646;
	border-radius: 6px;
	font-size: 1rem;
	background-color: #464646;
	color: #f4f4f4;
	padding: 4px 10px;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
}
.dark .btn-widget-description > button {
	border: 1px solid #f4f4f4;
	background-color: transparent;
	color: #f4f4f4;
}
.btn-widget-description > button:hover {
	border: 1px solid rebeccapurple;
	border-radius: 6px;
	font-size: 1rem;
	background-color: transparent;
	color: rebeccapurple;
	padding: 4px 10px;
	cursor: pointer;
}
.dark .btn-widget-description > button:hover {
	border: 1px solid #ffa804;
	background-color: #464646;
	color: #ffa804;
}
.dark .btn-widget-code > button {
	border: 1px solid #f4f4f4;
	background-color: transparent;
	color: #f4f4f4;
}
.dark .btn-widget-code > button:hover {
	border: 1px solid #ffa804;
	background-color: #464646;
	color: #ffa804;
}
span.btn-widget-code {
	position: relative;
	top: 10px;
	margin-bottom: 20px;
}
.btn-widget-code > button {
	border: 1px solid #464646;
	border-radius: 6px;
	font-size: 1rem;
	background-color: #464646;
	color: #f4f4f4;
	padding: 4px 10px;
	cursor: pointer;
	transition: all 0.35s ease-in-out;
}
.btn-widget-code > button:hover {
	border: 1px solid rebeccapurple;
	border-radius: 6px;
	font-size: 1rem;
	background-color: transparent;
	color: rebeccapurple;
	padding: 4px 10px;
	cursor: pointer;
}
.dark .btn-widget-code > button {
	border: 1px solid #f4f4f4;
	background-color: transparent;
	color: #f4f4f4;
}
.code-description-closed {
	max-height: 0;
	opacity: 0;
	transform: scaleY(0);
	transform-origin: top;
	overflow: hidden;
	transition: all 0.35s ease-in-out;
}
.btn-toggle-code-bottom {
	margin-top: -10px;
	margin-bottom: 30px;
}
.code-description-open {
	transform: scaleY(1);
	transform-origin: top;
	max-height: 2000px;
	opacity: 1;
	transition: all 0.35s ease-in-out;
}
.code.is-closed {
	max-height: 0;
	transform-origin: top;
	transform: scaleY(0);
	overflow: hidden;
	transition: all 0.35s ease-in-out;
}
.code.is-open {
	position: relative;
	top: 20px;
	transform-origin: top;
	transform: scaleY(1);
	max-height: 12000px;
	transition: all 0.35s ease-in-out;
	overflow-y: hidden;
}

@media only screen and (max-width: 1460px) {
	.code-content {
		width: 100%;
	}
	.stage {
		width: 100%;
	}
	section.code {
		width: 100%;
	}
	.github-link {
		width: 94vw;
	}
}

@media only screen and (max-width: 724px) {
	.github-link {
		width: 94vw;
	}
}
