#container {
	width: 600px;
	min-height: 400px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #ccc;
	font-family: Arial, sans-serif;
}
.stage.css-animations {
	min-height: 200px;
}
h3.css-animations {
	opacity: 1;
	animation: 2s ease-in 1s normal forwards 1 fadeOut;
}
.x {
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 40px;
	font-family: Arial, sans-serif;
	padding: 0px;
	background-color: #000;
	width: 64px;
	height: 64px;
	border-radius: 50%;
	border-color: #ccc;
	border-width: 6px;
	border-style: solid;
	color: #fff;
	opacity: 0;
	cursor: pointer;
	outline: none;
	animation: 1.5s ease-in 1s normal forwards 1 fadeIn;
}
.x.hide {
	opacity: 0;
}
p.message {
	opacity: 0;
	animation: 1s ease-in 3s normal forwards fadeIn;
}
p#message.hide {
	opacity: 0;
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
