@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.PasswordGeneratorContainer {
	position: relative;
	text-align: center;
	max-width: 750px;
	padding: 10px 0;
	background-color: #f6f6f6;
	margin: auto;
	font-family: 'Muli', sans-serif;
}

.dark .PasswordGeneratorContainer {
	background-color: #464646;
}

* {
	box-sizing: border-box;
}

h2.pwg {
	font-family: 'Muli', sans-serif;
	font-size: 2rem;
	margin: 10px 0 20px;
	text-align: center;
	color: #fff;
}

input[type='range']#length {
	min-width: auto;
	height: auto;
	border: none;
	max-width: 120px;
}

input[type='checkbox'] {
	margin-right: 0;
	height: auto;
	min-width: auto;
}

#upper,
#lower,
#numbers,
#symbols {
	transform: scale(1.5);
}

.pwg-container {
	margin: 10px auto;
	font-family: 'Muli', sans-serif;
	background-color: #663399;
	box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
	padding: 20px;
	width: 350px;
	max-width: 100%;
}

.pwg-result-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	letter-spacing: 1px;
	padding: 12px 10px;
	height: 50px;
	max-width: 270px;
	color: #fff;
	font-weight: 600;
}

.pwg-result-container #result {
	word-wrap: break-word;
	max-width: calc(100% - 40px);
}

.pwg-result-container .btn {
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 40px;
	width: 40px;
}

.pwg-btn {
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 8px 12px;
	background-color: #0656df;
	transition: background-color 0.35s ease-in-out;
}

button#generate.pwg-btn:hover,
button#clipboard:hover,
button#generate.pwg-btn:focus,
button#clipboard:focus {
	background-color: #df0606;
	outline: none;
}

.pwg-btn-large {
	position: relative;
	display: block;
	width: 100%;
	top: 6px;
	margin: 10px 0;
}

button#clipboard {
	position: relative;
	left: 50px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	padding: 10px 14px;
	height: 50px;
	background-color: #0656df;
	transition: background-color 0.35s ease-in-out;
}

svg.svg-inline--fa.fa-clipboard.fa-w-12 {
	width: 0.75rem;
}

input#length:focus,
input[type='checkbox']:focus {
	outline: 5px solid #ff0000;
	outline-style: double;
}

span#length_disp {
	color: #fff;
	font-weight: 700;
}

div#msg {
	text-align: center;
	color: #ffffff;
	height: 30px;
	transition: all 2.8s ease-in-out;
}

div#msg.fade-out {
	color: transparent;
	text-shadow: 1px 1px 2px transparent, -1px -1px 2px transparent;
}

.pwg-settings {
	line-height: 2;
	display: flex;
	flex-direction: column;
}

.pwg-setting {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

label.pwg {
	width: 100%;
	display: contents;
	color: #fff;
	text-transform: none;
	font-size: 16px;
}

.line-through {
	-webkit-text-decoration-line: line-through;
	text-decoration-line: line-through;
}

span#length_disp.pwg {
	width: 20px;
	text-align: right;
}

ol.pwg {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 300;
}

.dark ol.pwg {
	color: #f4f4f4;
}

.dark h4 {
	color: #f4f4f4;
}

@media screen and (max-width: 400px) {
	.pwg.result-container {
		font-size: 14px;
		max-width: 235px;
	}
	button#clipboard {
		left: 118px;
	}
}
