.title {
	color: var(--dark-gray);
	padding-bottom: 20px;
	text-align: center;
}
.text {
	color: var(--light-gray);
}
.btn {
	display: block;
	width: 150px;
	padding: 8px 0;
	margin: 20px auto;
	background: var(--btn-blue);
	border-radius: 4px;
	color: white;
	text-align: center;
}
