.nav {
  border-bottom: 1px solid rebeccapurple;
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.85);
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.85);
  top: 0;
  z-index: 10;
  -webkit-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.navContent {
  position: relative;
  width: 80vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNavLinks a {
  margin-left: 20px;
}

/* Toggle Theme */
svg.svg-inline--fa.fa-sun.fa-w-16,
svg.svg-inline--fa.fa-moon.fa-w-16,
svg.svg-inline--fa.fa-bell.fa-w-16 {
  font-size: 22px;
  color: rebeccapurple;
  -webkit-transition: color 0.35s ease-in;
  transition: color 0.35s ease-in;
}

button.faIcon {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  width: 34px;
  height: 35px;
  position: relative;
  top: 4px;
}
/*# sourceMappingURL=Navbar.module.css.map */