.title {
  color: #047fa5;
  text-decoration: none;
  line-height: inherit;
  font-size: 1.5rem;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.pubData {
  display: block;
  font-size: 0.9rem;
  font-style: italic;
}

.newsfeedHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.newsfeedHeader > img {
  width: 100%;
}

.newsfeedHeader h2 {
  margin-left: 30px;
}
/*# sourceMappingURL=News.module.css.map */